*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    font-size: 62.5%; /* 1rem = 10px */
    --bg-color:#3874ff;
    --button-color:#fc6e6e;
    --adopet-color:#3772FF;
    --color-forms:#737380;
    --bg-gray:#F6F6F6;
    
}
html{
    height: 100%;
    min-height: 100%;
}

body{
    background-image: url("../assets/Forma1.png");
    background-repeat: no-repeat;
    background-size: 33.3rem 27.3rem;
    background-origin: content-box;
    background-color: white;
    background-position:left top;
    overflow: overlay;
}

ul{
    list-style:none;
}
.container{
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* NAV BAR --------------------- */
nav{
    width: 100vw;
    margin-inline: auto;
}
nav .menu-itens{
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 4.8rem;
    margin-left: 4.8rem;
    margin-right: 5.8rem;
}

nav .menu-itens a:nth-child(2){
    margin-right: 5.8rem;
}

nav .menu-itens a:nth-child(3){
    margin-right: 13.4rem;
}

nav .menu-itens svg.logo{
    width: 12.8rem;
    visibility: hidden;
    display: none;
}
/* SECTION HOME --------------------- */

#home .content{
    text-align: center;
    margin-top: 6rem;
    margin-inline: auto;
    width: 100vw;
}

#home .content p{
    color: var(--adopet-color);
    font-size: 1.6rem;
    line-height: 100%;
    line-height: 2rem;
    margin-bottom: 2.4rem;
    vertical-align: top;
    width: 22.6rem;
    margin-inline: auto;

}

/* Pets #home --------------- */
#home .petsList{
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-inline: auto;
    width: min(170rem,100%);
    align-items: center;
    justify-content: center;
}

#home .pets{
    background-color: var(--bg-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36.2rem;
    height: 22rem;
}

#home .pets img{
    width: 14.8rem;
    height: 14.8rem;
    margin-left: 6.4rem;
    margin-block: 2.4rem;
}

#home .pet-info{
    text-align: left;
    margin-left: 1.6rem;
}

#home .pet-info h2{
    color: var(--adopet-color);
    margin-bottom: .8rem;
    margin-top: 1.6rem;
}

#home .pet-info h4{
    color: var(--color-forms);
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.4rem;
}

#home .pet-info h4.profile{
    margin-bottom: 3rem;
}

#home .pet-info p{
    color: var(--color-forms);
    margin-bottom: .7rem;
}

#home .pet-info ul{
    display: flex;
    gap: .8rem;
    margin-bottom: 1.9rem;
    color: var(--color-forms);
}

/* footer ------------- */

footer{
    background-color: #36D6AD;
    color: white;
}

footer p{
    margin-block: 4.1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 400;
    text-align: center;
}

@media (min-width: 768px){

    body{
        background-size: 55.98rem 46.9rem;
        overflow: auto;
    }

    nav#navigation *{
        display: initial;
        visibility: initial;
        margin-top: 0;
    }

    nav .menu-itens a:nth-child(3){
        margin-right: 32.5rem;
    }

    #navigation .menu-itens{
        display: flex;
        align-items: center;
    }

    #navigation .menu-itens svg.logo path{
        fill: #FFFFFF;
    }

    #navigation .menu-itens svg.logo{
        margin-right: 6.5rem;
    }

    #home .petsList article.pets:last-child{
        position: relative;
        margin-right:392px;
        margin-left: 13px;
        margin-bottom: 3.2rem;
    }

    #home .petsList{
        margin-left: 1rem;
    }

    #home .content{
        margin-top: 18.8rem;
    }
}