*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    font-size: 62.5%; /* 1rem = 10px */
    --bg-color:#3874ff;
    --button-color:#fc6e6e;
    --adopet-color:#3772FF;
    --color-forms:#737380;
    --bg-gray:#F6F6F6;
    
}
html{
    height: 100%;
    min-height: 100%;
}

body{
    background-image: url("../assets/Forma1.png");
    background-repeat: no-repeat;
    background-size: 33.3rem 27.3rem;
    background-origin: content-box;
    background-color: white;
    background-position:left top;
}

.container{
    width: min(50rem, 100%);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* NAV BAR --------------------- */
nav{
    width: min(170rem, 100%);
    margin-inline: auto;
}
nav .menu-itens{
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 4.8rem;
    margin-left: 4.8rem;
    margin-right: 5.8rem;
}

nav .menu-itens a:nth-child(2){
    margin-right: 5.8rem;
}

nav .menu-itens a:nth-child(3){
    margin-right: 13.4rem;
}

nav .menu-itens svg.logo{
    width: 12.8rem;
    visibility: hidden;
    display: none;
}
/* SECTION HOME --------------------- */

#home .content{
    width: 31.2rem;
    margin-left: 6.7rem;
    margin-right: 6.7rem;
    text-align: center;
    margin-top: 6rem;
}

#home .content p{
    color: var(--adopet-color);
    font-size: 1.6rem;
    line-height: 100%;
    line-height: 2rem;
    margin-bottom: 2.4rem;
    vertical-align: top;
    width: 22.6rem;
    margin-inline: auto;

}

/* Formulario #home --------------- */

#home .registration{
    background-color: var(--bg-gray);
    width: 31.2rem;
    height: auto;
    border-radius: 1rem;
}

#home .registration form{
    display: flex;
    flex-direction: column;
    margin-block: 2.4rem;
    text-align: left;
}

#home .registration form label:nth-child(1){
    margin-top: 2.7rem;
}

#home .registration form label{
    font-weight: 600;
    font-size: 1.6rem;
    color:var(--adopet-color);
    line-height: 2.4rem;
    margin-left: 1.6rem;
    margin-bottom: .8rem;
}

#home .registration form input{
    background-color: white;
    color: var(--color-forms);
    border-radius: .6rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

    width: 28rem;
    height: 4rem;
    
    text-align: center;

    border: none;
    resize: none;
    outline: none;
    margin-bottom: 2rem;
    margin-inline: 1.6rem;
}

#home .registration form input::placeholder{
    font-size: 1.4rem;
    color: #BCBCBC;
    line-height: 1.6rem;
    text-align: left;
    padding: 1.6rem 1.2rem;

}

#home .registration form textarea{
    color: #BCBCBC;
    width: 28rem;
    height: 17.2rem;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    text-align: center;
    margin-left: 1.6rem;
    border: none;
    outline: none;
    resize: none;
}

#home .registration form textarea::placeholder{
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-left: 1.6rem;
    font-weight: 400;
    color: #BCBCBC;

}

#home .registration #mensagem{
    margin-bottom: 1.6rem;
    text-align: left;
}


#home .container .button{
    background: var(--button-color);

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: white;

    border: none;
    border-radius: .6rem;
    width: 14.8rem;
    height: 4rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 3.2rem;
    margin-top: 2.2rem;


    text-decoration: none;
}


/* footer ------------- */

footer{
    background-color: #36D6AD;
    color: white;
    margin-top: 1.6rem ;
}

footer p{
    margin-block: 4.1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 400;
    text-align: center;
}


@media (min-width: 768px){
    body{
        overflow: auto;
        background-image:url("../assets/Forma1.png"), url("../assets/Forma2.png");
        background-size:55.6rem 47rem, 13.4rem 66.4rem;
        background-position:left top, center right;
    }
    nav#navigation *{
        display: initial;
        visibility: initial;
        margin-top: 0;
    }

    #home *{
        margin:0;
        padding: 0;
    }

    nav .menu-itens a:nth-child(3){
        margin-right: 32.5rem;
    }

    #navigation .menu-itens{
        display: flex;
        align-items: center;
    }
    
    #navigation .menu-itens svg.logo path{
        fill: #FFFFFF;
    }

    #navigation .menu-itens svg.logo{
        margin-right: 6.5rem;
    }

    #home .content p{
        font-size: 1.8rem;
        width: 52.4rem;
        font-weight: 400;
        line-height: 2.6rem;
     
    }
    #home .registration{
        background-color: var(--bg-gray);
        width: 52.4rem;
        height: auto;
        border-radius: 1rem;
    }

    #home .registration form input{
        width: 49.2rem;
    }

    #home .registration form textarea{
        width: 49.2rem
    }

    #home .container{
        width: 100%;
    }
    #home .content{
        width: 52.4rem;
        margin-top: 10rem;
    }
}


@media (min-width:1440px){

    nav .menu-itens a:nth-child(3){
        margin-right: 79.8rem;
    }

    #navigation .menu-itens svg.logo{
        margin-left: 16.1rem;
    }

    #navigation .menu-itens{
        margin-left: 0;
    }
}