*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    font-size: 62.5%; /* 1rem = 10px */
    --bg-color:hsl(222, 100%, 61%);
    --button-color:hsl(360, 96%, 71%);
    
}
html{
    height: 100%;
    min-height: 100%;
}

body{
    background-image: url("../assets/Forma1.png"),url("../assets/Forma2.png");
    background-repeat: no-repeat;
    background-size: 33.325rem 27.352rem, 8.4rem 41.5rem;
    background-origin: padding-box;
    background-color: var(--bg-color);
    background-position: left top, right center;
}

.container{
    width: min(50rem, 100%);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* NAV BAR --------------------- */
nav{
    width: min(170rem, 100%);
    margin-inline: auto;
}
nav .menu-itens{
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 4.8rem;
    margin-left: 4.8rem;
    margin-right: 5.8rem;
}

nav .menu-itens a:nth-child(1){
    margin-right: 5.8rem;
}

/* SECTION HOME --------------------- */
#home .container svg{
    margin-top: 17.5rem;
    margin-bottom: 3.1rem;
}

#home .container h1{
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 142%;
    margin-bottom: 1.6rem;
    margin-left: 1rem;
}

#home .content{
    width: 24rem;
    margin-left: 5.6rem;
    margin-right: 5.6rem;
    text-align: center;
    
}

#home .content p{
    color: white;
    font-size: 1.6rem;
    line-height: 100%;
    margin-bottom: 2.4rem;
    vertical-align: top;
}

#home .container .button{
    background: var(--button-color);
    

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: white;

    margin-bottom: 1.6rem;
    border: none;
    border-radius: .6rem;
    width: 18rem;
    height: 4rem;

    border: 1px solid #3772FF;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;

    text-decoration: none;
}

#home .content img{
    width: 24.7rem;
    position: absolute;
    display: flex;
    margin-top:2.4rem;
    z-index: -1;
}
/* footer ------------- */

footer{
    background-color: #36D6AD;
    color: white;
    margin-top: 31.9rem;
}

footer p{
    margin-block: 4.1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 400;
    text-align: center;
}